<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Dialaway</title>
  <script src="https://kit.fontawesome.com/f8d2af9837.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
  <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-analytics.js"></script>
  <script src='https://meet.jit.si/external_api.js'></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <div class="container screen">
    <div class="row">
      <div class="col topbar">
        <h1><a href="/homescreen" class="btn-light btn-lg btn-outline-light homebutton">Home</a></h1>
      </div>
    </div>
    <hr>

    <div class="row" style="padding: 1%; margin-right: 1%;">
      <div class="col-lg-3">
        <a href="/mentordetailsscreen" class="btn btn-lg btn-block profilebuttons">
          <p class="paddzero">Account details</p>
        </a>
        <a href="/accountdetailsscreen" class="btn btn-lg btn-block profilebuttons">
          <p class="paddzero">Payment Details</p>
        </a>
        <a href="/experiencedetailsscreen" class="btn btn-lg btn-block profilebuttons">
          <p class="paddzero">Experience Profile</p>
        </a>
        <a href="/educationdetailsscreen" class="btn btn-lg btn-block profilebuttons activebutton" style="margin-left: 2%;">
          <p class="paddzero">Educational Profile</p>
        </a>
        <a href="/reviewsscreen" class="btn btn-lg btn-block profilebuttons">
          <p class="paddzero">Reviews</p>
        </a>

      </div>
      <div class="vl">
        <%# this is for shadow %>
      </div>


      <div class="col-lg-8 educationslot">

        <div class="row">
          <div class="col-lg-12">

            <%if(whichbutton == "addededucation"){%>
            <a href="/education/addededeucation"><button type="button" name="button" class="btn sessionbuttons coloredbutton">Added Education</button></a>
            <%} else{%>
            <a href="/education/addededucation"><button type="button" name="button" class="btn sessionbuttons">Added Education</button></a>
            <%}%>
            <%if(whichbutton == "addneweducation"){%>
            <a href="/education/addneweducation"><button type="button" name="button" class="btn sessionbuttons coloredbutton">Add New Education</button></a>
            <%} else{%>
            <a href="/education/addneweducation"><button type="button" name="button" class="btn sessionbuttons">Add New Education</button></a>
            <%}%>


          </div>
        </div>

          <%if(whichbutton == "addededucation"){%>
            <div class="col-lg-12 sessiongreenbar sloteducation">
              <div class="row greenbaritems">
                <div class="col-lg-2">
                  School Name
                </div>
                <div class="col-lg-2">
                  Degree
                </div>
                <div class="col-lg-2">
                  Field Of Study
                </div>
                <div class="col-lg-2">
                  Duration
                </div>
                <div class="col-lg-3">
                  Grade
                </div>

              </div>
            </div>
            <%console.log(data);console.log(whichbutton); data.forEach((item, i) => { %>
            <div class="col-lg-12 sessionwhitebars">
              <div class="row">
                <div class="col-lg-2">
                  <h6 class="datetext experiencedetails"><%= item["school"] %></h6>
                </div>
                <div class="col-lg-2">
                  <h6 class="datetext experiencedetails"><%= item["degree"] %></h6>
                </div>
                <div class="col-lg-2">
                  <h6 class="datetext experiencedetails"><%= item["fieldOfStudy"] %></h6>
                </div>
                <div class="col-lg-2">
                  <h6 class="datetext experiencedetails"><%= item["startYear"] %>-<%= item["endDate"] %></h6>
                </div>
                <div class="col-lg-2">
                  <h6 class="datetext experiencedetails"><%= item["grade"] %></h6>
                </div>
                <div class="col-lg-2">
                  <div class="row">
                    <a href="/editeducation/<%= item['id'] %>"><button class="btn col-lg-12 actionbutton acceptbutton" type="button" name="button">Edit</button></a>
                    <a href="/deleteeducation/<%= item['id'] %>"><button class="btn col-lg-12 actionbutton cancelbutton" type="button" name="button">Delete</button></a>
                  </div>
                </div>
              </div>
            </div>
            <%});%>

            <% } %>

            <%console.log("received");if(whichbutton=="editeducation"){ console.log("printing");%>

            <div class="row">
              hello
              <div class="col-lg-12">
                <form class="" action="/editsaveeducation/<%= data['id'] %>" method="post" style="padding: 3%;padding-left: 1%;">

                  <div class="form-row">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <label for="text">School Name</label> <br>
                        <input type="text" class="form-control" id="editschoolname" name="editschoolname"></input>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <label for="text">Degree</label> <br>
                        <input type="text" class="form-control" name="editdegree"></input>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <label for="text">Field Of Study</label> <br>
                        <input type="text" class="form-control" name="editfieldofstudy"></input>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-5 marginright">
                      <div class="form-group">
                        <label for="number">Start year</label> <br>
                        <input type="number" class="form-control" name="editstartyear"></input>
                      </div>
                    </div>
                    <div class="col-lg-5 marginright">
                      <div class="form-group">
                        <label for="number">End year</label> <br>
                        <input type="number" class="form-control" name="editendyear"></input>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <label for="text">Grade</label> <br>
                        <input type="text" class="form-control" name="editgrade"></input>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <label for="text">Description</label> <br>
                        <textarea type="text" class="form-control" name="editdescription" rows="4"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <button type="submit" class="btn btn-block" style="color: white;">Save Education Details</button>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>

            <%}%>

            <%if(whichbutton == "addneweducation"){%>

            <div class="row">
              <div class="col-lg-12">
                <form class="" action="/saveeducation" method="post" style="padding: 3%;padding-left: 1%;">

                  <div class="form-row">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <label for="text">School Name</label> <br>
                        <input type="text" class="form-control" name="schoolname"></input>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <label for="text">Degree</label> <br>
                        <input type="text" class="form-control" name="degree"></input>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <label for="text">Field Of Study</label> <br>
                        <input type="text" class="form-control" name="fieldofstudy"></input>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-5 marginright">
                      <div class="form-group">
                        <label for="number">Start year</label> <br>
                        <input type="number" class="form-control" name="startyear"></input>
                      </div>
                    </div>
                    <div class="col-lg-5 marginright">
                      <div class="form-group">
                        <label for="number">End year</label> <br>
                        <input type="number" class="form-control" name="endyear"></input>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <label for="text">Grade</label> <br>
                        <input type="text" class="form-control" name="grade"></input>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <label for="text">Description</label> <br>
                        <textarea type="text" class="form-control" name="description" rows="4"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <button type="submit" class="btn btn-block" style="color: white;">Save Education Details</button>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>

            <%}%>
  
      </div>

      </div>
      <div class="vl">
        <%# this is for shadow %>
          </div>


        </div>

        <script type="text/javascript">
          document.getElementsByName("editschoolname")[0].defaultValue = '<%- data["school"]%>';
          document.getElementsByName("editdegree")[0].defaultValue = '<%- data["degree"]%>';
          document.getElementsByName("editfieldofstudy")[0].defaultValue = '<%- data["fieldOfStudy"]%>';
          document.getElementsByName("editstartyear")[0].defaultValue = '<%- data["startYear"]%>';
          document.getElementsByName("editendyear")[0].defaultValue = '<%- data["endDate"]%>';
          document.getElementsByName("editgrade")[0].defaultValue = '<%- data["grade"]%>';
          document.getElementsByName("editdescription")[0].defaultValue = '<%- data["description"]%>';
        </script>

</body>

</html>
