<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Dialaway</title>
  <script src="https://kit.fontawesome.com/f8d2af9837.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
  <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-analytics.js"></script>
  <script src='https://meet.jit.si/external_api.js'></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <div class="container screen">
    <div class="row">
      <div class="col topbar">
        <h1><a href="/homescreen" class="btn-light btn-lg btn-outline-light homebutton">Home</a></h1>
      </div>
    </div>
    <hr>

    <div class="row" style="padding: 1%; margin-right: 1%;">
      <div class="col-lg-3">
        <a href="/mentordetailsscreen" class="btn btn-lg btn-block profilebuttons">
          <p class="paddzero">Account details</p>
        </a>
        <a href="/accountdetailsscreen" class="btn btn-lg btn-block profilebuttons">
          <p class="paddzero">Payment Details</p>
        </a>
        <a href="/experiencedetailsscreen" class="btn btn-lg btn-block profilebuttons activebutton" style="margin-left: 2%;">
          <p class="paddzero">Experience Profile</p>
        </a>
        <a href="/educationdetailsscreen" class="btn btn-lg btn-block profilebuttons">
          <p class="paddzero">Educational Profile</p>
        </a>
        <a href="/reviewsscreen" class="btn btn-lg btn-block profilebuttons">
          <p class="paddzero">Reviews</p>
        </a>

      </div>
      <div class="vl">
        <%# this is for shadow %>
      </div>


      <div class="col-lg-8">

        <div class="row">
          <div class="col-lg-12">

            <%if(whichbutton == "addedexperience"){%>
            <a href="/experience/addedexperience"><button type="button" name="button" class="btn sessionbuttons coloredbutton">Added Experience</button></a>
            <%} else{%>
            <a href="/experience/addedexperience"><button type="button" name="button" class="btn sessionbuttons">Added Experience</button></a>
            <%}%>
            <%if(whichbutton == "addnewexperience"){%>
            <a href="/experience/addnewexperience"><button type="button" name="button" class="btn sessionbuttons coloredbutton">Add New Experience</button></a>
            <%} else{%>
            <a href="/experience/addnewexperience"><button type="button" name="button" class="btn sessionbuttons">Add New Experience</button></a>
            <%}%>


          </div>
        </div>

          <%if(whichbutton == "addedexperience"){%>
            <div class="col-lg-12 sessiongreenbar">
              <div class="row greenbaritems">
                <div class="col-lg-2">
                  Company Name
                </div>
                <div class="col-lg-2">
                  Role
                </div>
                <div class="col-lg-2">
                  Start Date
                </div>
                <div class="col-lg-2">
                  End Date
                </div>
                <div class="col-lg-3">
                  Current Company
                </div>
              </div>
            </div>
            <%console.log(data); data.forEach((item, i) => { %>
            <div class="col-lg-12 sessionwhitebars">
              <div class="row">
                <div class="col-lg-2">
                  <h6 class="datetext experiencedetails"><%= item["company"] %></h6>
                </div>
                <div class="col-lg-2">
                  <h6 class="datetext experiencedetails"><%= item["jobTitle"] %></h6>
                </div>
                <div class="col-lg-2">
                  <h6 class="datetext experiencedetails"><%= item["startDate"] %></h6>
                </div>
                <div class="col-lg-2">
                  <h6 class="datetext experiencedetails"><%= item["endDate"] %></h6>
                </div>
                <div class="col-lg-2">
                  <h6 class="datetext experiencedetails"><%= item["currentlyWorkingHere"] %></h6>
                </div>
                <div class="col-lg-2">
                  <div class="row">
                    <a href="/editexperience/<%= item['id'] %>"><button class="btn col-lg-12 actionbutton acceptbutton" type="button" name="button">Edit</button></a>
                    <a href="/deleteexperience/<%= item['id'] %>"><button class="btn col-lg-12 actionbutton cancelbutton" type="button" name="button">Delete</button></a>
                  </div>
                </div>
              </div>
            </div>
            <%});%>

            <% } %>

            <%if(whichbutton=="editexperience"){%>
            <div class="row">
              <div class="col-lg-12">
                <form class="" action="/editsaveexperience/<%= data['id'] %>" method="post" style="padding: 3%;padding-left: 1%;">

                  <div class="form-row">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <label for="text">Company Name</label> <br>
                        <input type="text" class="form-control" name="editcompanyname"></input>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <label for="text">Job Title</label> <br>
                        <input type="text" class="form-control" name="editjobtitle"></input>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-5 marginright">
                      <div class="form-group">
                        <label for="date">Start Date</label> <br>
                        <input type="date" class="form-control" name="editstartdate"></input>
                      </div>
                    </div>
                    <div class="col-lg-5 marginright">
                      <div class="form-group">
                        <label for="date">End Date</label> <br>
                        <input type="date" class="form-control" name="editenddate">
                      </div>
                    </div>
                  </div>

                  <div class="form-row" style="padding-top: 2%;">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <label for="bool">Currently Working Here</label> <br>

                        <div class="row" style="">
                          <div class="col-lg-3">
                            <input class="form-check-input" type="hidden" name="editworkmethod" id="editworkmethod">
                            <label class="btn btn-primary col-lg-12 workButtons" id="editworkTrue" for="inlineRadio1">True</label>
                          </div>
                          <div class="col-lg-3">
                            <input class="form-check-input" type="hidden" name="editworkmethod" id="workmethod">
                            <label class="btn btn-primary col-lg-12 workButtons" id="editworkFalse" for="inlineRadio2">False</label>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <button type="submit" class="btn btn-block" style="color: white;">Save Experience Details</button>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>

            <%}%>

            <%if(whichbutton == "addnewexperience"){%>

            <div class="row">
              <div class="col-lg-12">
                <form class="" action="/saveexperience" method="post" style="padding: 3%;padding-left: 1%;">

                  <div class="form-row">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <label for="text">Company Name</label> <br>
                        <input type="text" class="form-control" name="companyname"></input>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <label for="text">Job Title</label> <br>
                        <input type="text" class="form-control" name="jobtitle"></input>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-5 marginright">
                      <div class="form-group">
                        <label for="date">Start Date</label> <br>
                        <input type="date" class="form-control" name="startdate"></input>
                      </div>
                    </div>
                    <div class="col-lg-5 marginright">
                      <div class="form-group">
                        <label for="date">End Date</label> <br>
                        <input type="date" class="form-control" name="enddate">
                      </div>
                    </div>
                  </div>

                  <div class="form-row" style="padding-top: 2%;">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <label for="bool">Currently Working Here</label> <br>

                        <div class="row" style="">
                          <div class="col-lg-3">
                            <input class="form-check-input" type="hidden" name="workmethod" id="workmethod">
                            <label class="btn btn-primary col-lg-12 workButtons" id="workTrue" for="inlineRadio1">True</label>
                          </div>
                          <div class="col-lg-3">
                            <input class="form-check-input" type="hidden" name="workmethod" id="workmethod">
                            <label class="btn btn-primary col-lg-12 workButtons" id="workFalse" for="inlineRadio2">False</label>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-12 marginright">
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" style="color: white;">Save Experience Details</button>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>

            <%}%>





      </div>
      <div class="vl">
        <%# this is for shadow %>
          </div>


        </div>


        <script type="text/javascript">
          $('#workTrue').on('click', function() {
            $('#workmethod').val(true);
            console.log($("#workmethod"));
            console.log("clicked");
          });
          $('#workFalse').on('click', function() {
            $('#workmethod').val(false);
            console.log($("#workmethod").val);
            console.log("clicked");
          });
          document.getElementsByName("editcompanyname")[0].defaultValue = '<%- data["company"]%>';
          document.getElementsByName("editjobtitle")[0].defaultValue = '<%- data["jobTitle"]%>';
          document.getElementsByName("editstartdate")[0].defaultValue = '<%- data["startDate"]%>';
          document.getElementsByName("editenddate")[0].defaultValue = '<%- data["endDate"]%>';
          document.getElementsByName("editworkmethod")[0].defaultValue = '<%- data["currentlyWorkingHere"]%>';
          $('#editworkTrue').on('click', function() {
            $('#editworkmethod').val(true);
            console.log($("#workmethod"));
            console.log("clicked");
          });
          $('#editworkFalse').on('click', function() {
            $('#editworkmethod').val(false);
            console.log($("#workmethod").val);
            console.log("clicked");
          });
        </script>

</body>

</html>
