<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Dialaway</title>
  <script src="https://kit.fontawesome.com/f8d2af9837.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
  <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-analytics.js"></script>
  <script src='https://meet.jit.si/external_api.js'></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <div class="container screen">
    <div class="row">
      <div class="col topbar">
        <h1><a href="/homescreen" class="btn-light btn-lg btn-outline-light homebutton">Home</a></h1>
      </div>
    </div>
    <hr>

    <div class="row" style="padding: 1%; margin-right: 1%;">
      <div class="col-lg-3">
        <a href="/mentordetailsscreen" class="btn btn-lg btn-block profilebuttons activebutton" style="margin-left: 2%;">
          <p class="paddzero">Account Details</p>
        </a>
        <a href="/accountdetailsscreen" class="btn btn-lg btn-block profilebuttons">
          <p class="paddzero">Payment Details</p>
        </a>
        <a href="/experiencedetailsscreen" class="btn btn-lg btn-block profilebuttons">
          <p class="paddzero">Experience Profile</p>
        </a>
        <a href="/educationdetailsscreen" class="btn btn-lg btn-block profilebuttons">
          <p class="paddzero">Educational Profile</p>
        </a>
        <a href="/reviewsscreen" class="btn btn-lg btn-block profilebuttons">
          <p class="paddzero">Reviews</p>
        </a>

      </div>
      <div class="vl">
        <%# this is for shadow %>
      </div>



      <%# The green section %>
      <div class="col-lg-3 lightgreen">
        <%# <div class="col-lg-3 lightgreen"> %>
        <div class="imagecircle">

          <%const imgsrcc = (imgsrc=='')?'/logo.jpeg':imgsrc;%>
          <img src="<%= imgsrcc %>" alt="" class="circleimgsrc" name="circleimgsrc" style="height: 10rem; width: 10rem; border-radius: 50%;">
          <form method="POST" action="/upload-profile-pic" enctype="multipart/form-data">
            <div>
              <button onclick="document.getElementById('getImg').click()" class="btn imgbutton"><i class="fas fa-camera"></i></button>
              <input type="file" name="profile_pic" id="getImg" style="display: none" />
            </div>
            <div>
              <button onclick="document.getElementById('upload').click()" class="btn btn-block uploadbtn">Upload Profile Pic</i></button>
              <%# <input type="file" name="profile_pic" class="btn" id="getImg"style="display: none" /> %>
              <input type="submit" name="btn_upload_profile_pic" value="Upload" id="upload" style="display: none" />
            </div>
          </form>

        </div>

        <%# </div> %>
      </div>
      <div class="vl">
        <%# this is for shadow %>
      </div>

      <br><br>

      <div class="col-lg-5">

        <form class="" action="/savementor" method="post">
          <%# FORM START %>

          <div class="form-row">
            <div class="col-lg-5 marginright">
              <div class="form-group">
                <label for="email">Email</label> <br>
                <input type="email" class="form-control" name="email"></input>
              </div>
            </div>
            <div class="col-lg-5 marginright">
              <div class="form-group">
                <label for="tel">Mobile Number</label> <br>
                <input type="tel" class="form-control" name="phno" valuer="hello">
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-5 marginright">
              <div class="form-group">
                <label for="text">Current Company</label>
                <input type="text" class="form-control" name="currentcompany">
              </div>
            </div>
            <div class="col-lg-5 marginright">
              <div class="form-group">
                <label for="text">Designation</label>
                <input type="text" class="form-control" name="designation">
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-5 marginright">
              <div class="form-group">
                <label for="text"> Previous Company</label>
                <input type="text" class="form-control" name="previouscompany">
              </div>
            </div>
            <div class="col-lg-5 marginright">
              <div class="form-group">
                <label for="number">Total Experience Years</label>
                <input type="number" class="form-control" name="totalexperience">
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-12 marginright">
              <div class="form-group">
                <label for="text">Responsibilities</label>
                <textarea type="text" class="form-control" name="responsibilities" rows="3"></textarea>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-12 marginright">
              <div class="form-group">
                <label for="text">Cover Line</label>
                <textarea type="text" class="form-control" name="coverline" rows="3"></textarea>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-5 marginright">
              <div class="form-group">
                <label for="number">Call Rate Per Minute</label>
                <input type="number" class="form-control" name="callrateperminute">
              </div>
            </div>
            <div class="col-lg-5">
              <div class="form-group marginright">
                <label for="number">Chat Rate Per Minute</label>
                <input type="number" class="form-control" name="chatrateperminute">
              </div>
            </div>
          </div>


          <div class="form-row">
            <div class="col-lg-5 marginright">
              <div class="form-group">
                <label for="password">Currency</label>
                <select name="currency">
                  <% Object.entries(currency).forEach(item => { %>
                  <option value="<%= item[0] %>" selected="selected" label="<%= item[1] %>"><%= item[0] %></option>
                  <% }); %>
                </select>
              </div>
            </div>
            <div class="col-lg-5 marginright">
              <div class="form-group">
                <label for="text">Linkedin Profile Link</label>
                <input type="text" class="form-control" name="linkedinprofile">
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-5 marginright">
              <div class="form-group">
                <label for="number">Pincode</label>
                <input type="number" class="form-control" name="pincode">
              </div>
            </div>
            <div class="col-lg-5">
              <div class="form-group marginright">
                <label for="text">City</label>
                <input type="text" class="form-control" name="city">
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-5 marginright">
              <div class="form-group">
                <label for="text">State</label>
                <input type="text" class="form-control" name="state">
              </div>
            </div>
            <div class="col-lg-5">
              <div class="form-group marginright">
                <label for="text">Country</label>
                <input type="text" class="form-control" name="country">
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-5 marginright">
              <div class="form-group">
                <label for="password">Timezone</label>
                <select name="timezones">
                  <%timezone.forEach(function(item){%>
                  <option timeZoneId="1" gmtAdjustment="<%= item['offset'] %>" useDaylightTime="0" value="<%= item['offset'] %> <%= item['name'] %>"> <%= item['offset'] %> <%= item['name'] %></option>
                  <%});%>
                </select>
              </div>
            </div>
            <div class="col-lg-5 marginright">
              <div class="form-group">
                <label for="text">Name</label>
                <input type="text" class="form-control" name="name">
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-5 marginright">
              <div class="form-group">
                <label for="text">Username</label>
                <input type="text" class="form-control" name="username">
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-12 marginright">
              <div class="form-group">
                <button type="submit" class="btn btn-block" style="color: white;">Update Profile Details</button>
              </div>
            </div>
          </div>


        </form>

      </div>
      <div class="vl">
        <%# this is for shadow %>
      </div>


    </div>

    <script type="text/javascript">
      document.getElementsByName("username")[0].defaultValue = '<%- data["userName"]%>';
      document.getElementsByName("name")[0].defaultValue = '<%- data["name"]%>';
      document.getElementsByName("country")[0].defaultValue = '<%- data["country"]%>';
      document.getElementsByName("linkedinprofile")[0].defaultValue = '<%- data["linkedinProfile"]%>';
      document.getElementsByName("city")[0].defaultValue = '<%- data["city"]%>';
      document.getElementsByName("pincode")[0].defaultValue = '<%- data["pinCode"]%>';
      document.getElementsByName("chatrateperminute")[0].defaultValue = '<%- data["chatRatePerMin"]%>';
      document.getElementsByName("callrateperminute")[0].defaultValue = '<%- data["callRatePerMin"]%>';
      document.getElementsByName("coverline")[0].defaultValue = '<%- data["coverLine"]%>';
      document.getElementsByName("responsibilities")[0].defaultValue = '<%- data["responsibilities"]%>';
      document.getElementsByName("totalexperience")[0].defaultValue = '<%- data["totalExperienceYears"]%>';
      document.getElementsByName("previouscompany")[0].defaultValue = '<%- data["previousCompany"]%>';
      document.getElementsByName("designation")[0].defaultValue = '<%- data["designation"]%>';
      document.getElementsByName("currentcompany")[0].defaultValue = '<%- data["currentCompany"]%>';
      document.getElementsByName("phno")[0].defaultValue = '<%- data["phoneNumber"]%>';
      document.getElementsByName("email")[0].defaultValue = '<%- data["emailAddress"]%>';
      document.getElementsByName("state")[0].defaultValue = '<%- data["state"]%>';
      document.getElementsByName("currency")[0].defaultValue = '<%- data["currency"]%>';
      document.getElementsByName("circleimgsrc")[0].src = '<%- data["photoUrl"]%>';
    </script>


</body>

</html>
